:root {
  font-size: 0.9375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
  padding: 5.6666666667rem 2.1333333333rem 5.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  body {
    padding: 5.3333333333rem 0;
  }
}

.header {
  text-align: center;
  margin-bottom: 5.0666666667rem;
}
@media (min-width: 1200px) {
  .header {
    margin-bottom: 4.2666666667rem;
  }
}

.header__title {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 275;
  letter-spacing: 0.166667px;
  color: hsl(234deg, 12%, 34%);
  margin-bottom: 0.0416666667em;
}
.header__title strong {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5416666667em;
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0.25px;
    margin-bottom: 0.0277777778em;
  }
  .header__title strong {
    margin-bottom: 0.3611111111em;
  }
}

.header__paragraph {
  font-size: 1rem;
  line-height: 1.6666666667;
  font-weight: 400;
  letter-spacing: 0.104167px;
  color: hsl(234deg, 12%, 34%);
  opacity: 0.5;
  max-width: 36rem;
}

.products {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 1.6666666667rem;
  margin-bottom: 3.3333333333rem;
}
@media (min-width: 1200px) {
  .products {
    grid-template: repeat(2, min-content)/repeat(3, 1fr);
    gap: 2rem;
    max-width: 74rem;
  }
}

.product {
  background-color: white;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 8px;
  padding: 1.8rem 1.8666666667rem 1.8666666667rem 1.9333333333rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.product::before {
  content: "";
  width: 100%;
  height: 3.55px;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1200px) {
  .product {
    padding: 2.1333333333rem;
    gap: 2.6666666667rem;
  }
  .product::before {
    height: 4px;
  }
}

.product--supervisor::before {
  background-color: hsl(180deg, 62%, 55%);
}
@media (min-width: 1200px) {
  .product--supervisor {
    grid-row: 1/3;
    align-self: center;
  }
}

.product--team-builder::before {
  background-color: hsl(0deg, 78%, 62%);
}
@media (min-width: 1200px) {
  .product--team-builder {
    grid-column: 2/3;
  }
}

.product--karma::before {
  background-color: hsl(34deg, 97%, 64%);
}
@media (min-width: 1200px) {
  .product--karma {
    grid-column: 2/3;
  }
}

.product--calculator::before {
  background-color: hsl(212deg, 86%, 64%);
}
@media (min-width: 1200px) {
  .product--calculator {
    grid-row: 1/3;
    grid-column: 3/4;
    align-self: center;
  }
}

.product__img {
  width: 3.8rem;
  height: 3.8rem;
  align-self: flex-end;
}
@media (min-width: 1200px) {
  .product__img {
    width: 4.2666666667rem;
    height: 4.2666666667rem;
  }
}

.product__name {
  font-size: 1.3333333333rem;
  line-height: 1.5;
  font-weight: 600;
  color: hsl(234deg, 12%, 34%);
  margin-bottom: 0.05em;
}
@media (min-width: 1200px) {
  .product__name {
    margin-bottom: 0.3em;
  }
}

.product__description {
  font-size: 0.8666666667rem;
  line-height: 1.7692307692;
  font-weight: 400;
  color: hsl(234deg, 12%, 34%);
  opacity: 0.5;
  letter-spacing: 0.0902778px;
}

.attribution {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
  z-index: -1;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
